<server-profile>
  <radius>
    <entry name="NEOFFICE">
      <server>
        <entry name="NEOFFICE01">
          <secret>{{ secret1 }}</secret>
          <port>{{ port1 }}</port>
          <ip-address>{{ ip1 }}</ip-address>
        </entry>
        <entry name="NEOFFICE02">
          <secret>{{ secret2 }}</secret>
          <port>{{ port2 }}</port>
          <ip-address>{{ ip2 }}</ip-address>
        </entry>
      </server>
      <protocol>PAP</protocol>
    </entry>
  </radius>
</server-profile>

